.img-card-details{
    width: 40%;
}.text-card-details{
    width: 60%;
    text-align: center;
    font-family: 'Black Ops One', cursive, 'Roboto', sans-serif, 'Comic Neue', cursive, 'Caveat', cursive;
    color: #e7e7e7;
}.text-card-details .cardBody{
    width: 95%;
    padding-left: 50px;
}.text-card-details .cardTitle {
    margin-bottom: 20px;
    font-size: xx-large;
    background: -webkit-linear-gradient(#ffffff, #313131);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}
