*{
    margin: 0; padding: 0; box-sizing: border-box;
}


main{
    display: flex; align-items: center; justify-content: center; flex-direction: column;
    width: 100%; max-width: 1400px;   min-width: 300px;
    margin: 0px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main .firstRow{
    display: flex; align-items: center; justify-content: center;
    padding: 180px 0px;
}

main .leftSide{
    width: 40%;
    display: flex; flex-direction: column; align-items: center; justify-content: space-around;
    padding-left: 50px;
    text-align: justify;
    color: #e7e7e7;
}

main .leftSide span.titleShoe{
    display: flex; flex-direction: column;
    font-size: 85px; font-weight: bold;
    width: 100%;
    line-height: 100%;
    text-align: center;
}main .leftSide span.titleShoe span.marcaShoe{
    text-align: left;
    padding-left: 20px;
}main .leftSide span.titleShoe span.modelShoe{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 8px;

    background: -webkit-linear-gradient(#9d9d9d, #db0101);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

main .leftSide .starShoe{
    text-align: left;
    width: 100%;
    margin: 10px 0px;
}
main .leftSide .starShoe i{
    color: gold; font-size: small;
    padding-right: 5px;
}
main .leftSide .describeShoe{
    font-size: small;
}
main .leftSide a.addCart{
    border: none; border-radius: 20px;
    padding: 10px 30px; margin: 15px 0px;
    background-color: #ca0101;
    color: #fff;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    margin-right: auto;

}main .leftSide a.addCart:hover{
    background-color: #780202;
    transform: scale(1.05);
}


main .rightSide{
    width: 60%;
    padding: 0 50px;
    display: flex; align-items: center;
    animation: slideToRight 3s;
}
main .rightSide img{
    min-width: 650px;
    max-width: 700px;
    margin: 0 auto;
    animation: float 4s infinite ease-in-out;
}
@keyframes float {
    0%{
        transform:translateY(0px);
    }50%{
        transform:translateY(15px);
    }100%{
        transform:translateY(0px);
    }
}
@keyframes slideToRight {
    0%{
        margin-left: -500px;
        opacity: 0;
    }100%{
        margin-left: 0px;
        opacity: 1;
    }
}

.titleSection{
    font-family: 'Black Ops One', cursive, 'Roboto', sans-serif, 'Comic Neue', cursive, 'Caveat', cursive;
    font-size: 50px;
    color: #e7e7e7;
    letter-spacing: 5px;
    animation: eletro infinite 5s ease-in-out;
}

@keyframes eletro {
    0%{
        opacity: 1;
    }10%{
        opacity: 0;
    }11%{
        opacity: 1;
    }50%{
        opacity: 0;
    }51%{
        opacity: 1;
    }52%{
        opacity: 0;
    }53%{
        opacity: 1;
    }99%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

main .secondRow section {
    display: flex; align-items: center;
    width: 100%;
}
main .secondRow  .card-detalhe-design img,
main .secondRow .card-material img{
    width: 350px;
}
main .secondRow  .card-cores,
main .secondRow  .card-material,
main .secondRow  .card-detalhe-design{
    margin-top: -120px;
}
main .secondRow .card-design img{
    transform: rotate(340deg);
    margin-left: -80px;
}

.card-detalhe-design, .card-material{
    flex-direction: row-reverse;
    text-align: right;
}




main .thirddRow{
    display: flex; flex-direction: column;
    width: 100%;
    padding: 100px 0px;
    background-color: #78020222;
}main .thirddRow section{
    display: flex; align-items: center;
    width: 100%;
}
