*{
    margin: 0; padding: 0; box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

input:focus, textarea:focus{
    outline: none;
}
footer{
    padding: 20px 20px 10px 20px;
}
Footer .firstRow{
    display: flex; justify-content: space-around;
    text-align: left;
    padding: 20px;
}Footer .firstRow div:nth-child(-n+3){
    display: flex; flex-direction: column;
    text-align: left;
    color: #d7d7d7;
}
footer .firstRow span{ margin-bottom: 10px; display: block;}
Footer .firstRow a{
    color: #d7d7d7;
}

footer .firstRow .ajuda a,
footer .firstRow .sobre a{
    font-size: medium;
}

footer .firstRow div:nth-child(2n+4){
    color: #d7d7d7;
}footer .firstRow div:nth-child(2n+4) i{
    padding: 5px;
    font-size: xx-large;
}

footer .secondRow{
    display: flex; align-items: center; justify-content: space-between;
}

footer .secondRow .infoCriador {
    display: flex; align-items: center; text-align: left;

}footer .secondRow .infoCriador span{
    display: flex; flex-direction: column;
    padding-left: 5px;
    color: #d7d7d7; font-weight:lighter; font-size: small;
}
footer .secondRow .fotoCriador{
    width: 80px;
    border-radius: 50%;
}

footer .secondRow .redesCriador a{
    color: #d7d7d7; font-weight: bold; font-size: small;
}
footer .secondRow .redesCriador i{
    padding: 0px 11px;
    font-size: 20px;
}

.mensagemFooter{
    color: #d7d7d7; font-weight:lighter; font-size: x-small;
    text-align: left;
    width: 100%;
    padding-top: 5px;
}


@media (max-width: 767.98px){
    footer .firstRow{ flex-direction: column; }
    footer .firstRow div{margin: 10px 0; }
    footer .firstRow span{ margin-bottom: 5px; display: block;}
    footer .firstRow .sobre a{
        font-size: small;
    }

    footer .secondRow{
        display: flex; align-items: center; justify-content: space-between;
    }
    footer .secondRow .infoCriador {text-align: center; flex-direction: column; }
    .mensagemFooter{  text-align: center; }
}
