.Carrinho{
    background-color: #0000004f;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1110;
    margin-left: 3000px;
    backdrop-filter:blur(1px);
    display: none;
}

.Carrinho .listaCarrinho{
    background-color: aliceblue;
    width: 40%;
    margin-left: auto;
    padding: 15px;
    height: 100vh;
}
.Carrinho .listaCarrinho .closeCarrinho{
    background-color: aliceblue;
    text-align: center;
    display: flex; align-items: center;
}
.Carrinho .listaCarrinho .closeCarrinho i{
    cursor: pointer;
    font-size: xx-large;
    padding-right: 200px;
}
.Carrinho .listaCarrinho .item{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.287);
}
.Carrinho .listaCarrinho .item .produto{
    display: flex; align-items: center;
    padding-left: 20px; padding-top: 20px;
}
.Carrinho .listaCarrinho .item .produto .imgProdutoCarrinho{
    padding-right: 30px;
}
.Carrinho .listaCarrinho .item .produto .infoProdutoCarrinho{
    display: flex; flex-direction: column; justify-content: space-between;
    text-align: left;
}
